<!doctype html>

<!-- panneau pour la première vue utile (accueil) -->
<div id="accueil">
  <div >
    <h3 id="bienvenue">Bienvenue</h3>
  </div>
  <div>
    <p id="bienvenueText">Bienvenue sur la page d'accueil de notre labo 5 !</p>
    <!-- <ul>
      <li>
          <a href="#" onclick="indexCtrl.loadItemsHtml();" id="itemsLi">EntryPoint1</a>
      </li>
      <li>
          <a href="#" onclick="indexCtrl.loadEntityHtml();" id="entityLi">EntryPoint2</a>
      </li>
    </ul> -->
  </div>
</div>  <!-- fin panneau suite -->
