<!doctype html>

<!-- panneau pour la première vue utile (accueil) -->
<div id="accueil">
    <div>
        <h3 id="bienvenue">Bienvenue</h3>
    </div>
    <div>
        <p id="bienvenueText">Bienvenue sur la page d'accueil de notre labo 5 !</p>
        <p>Endpoints :</p>
        <ul>
            <li>
                <a href="#" onclick="indexCtrl.callListApi();" id="listLi">List all endpoints</a>
            </li>
            <li>
                <a href="#" onclick="indexCtrl.callConnect();" id="connectLi">Connect DB</a>
            </li>
            <li>
                <a href="#" onclick="indexCtrl.callCreate();" id="createLi">Create a new user</a>
            </li>
            <li>
                <a href="#" onclick="indexCtrl.callLogin();" id="readLi">Login as <...></a>
            </li>
            <li>
                <a href="#" onclick="indexCtrl.callUpdate();" id="updateLi">Update logged user password</a>
            </li>
            <li>
                <a href="#" onclick="indexCtrl.callDelete();" id="deleteLi">Delete logged user</a>
            </li>
        </ul>
    </div>
</div>  <!-- fin panneau suite -->
